@media screen and (max-width: 1024px) {
	#bloc_page {
		width: auto;
	}

	nav {
		width: auto;
	}

	nav ul {
		flex-direction: column;
	}

	nav li {
		padding-left: 4px;
	}

	nav a {
		font-size: 1.1em;
	}

	nav a:hover {
		border-bottom: 0;
	}

	#banniere {
		display: none;
	}

	article, aside {
		width: auto;
		margin-bottom: 15px;
	}

	section {
		flex-direction: column;
	}

	.fleche_bulle {
		display: none;
	}

	#image_zozor img {
		float: right;
		width: 110px;
		margin-left: 15px; 
	}

	aside p:last-child {
		text-align: center;
	}

	#listes_amis {
		flex-direction: column;
		padding-left: 10px;
	}
}