@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
} 

body
{
    background: url('images/fond_jaune.png');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#bloc_page { 
    width: 900px;
    margin: auto;
    border: 1px solid black;
}


section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

/* mise en place du header */

header {
    background: url('images/separateur.png') repeat-x bottom;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    width: auto;
    margin-bottom: 10px;

   
}

header h1 {
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2 {
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin: 0 0 10px 10px;
    font-weight: normal;
}

#logo_z {
    width:  30%;

}

nav ul {
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
}

nav li {
    margin-right: 15px;
}

nav a {
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover {
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* mise en place de la bannière */

#banniere {
    margin-top: 15px;
    height: 200px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
    background: url('images/sanfrancisco.jpg');
}


#description {
    position: absolute;
    bottom: 0px;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24,24,24,0.8);
    color: white;
    font-size: 0.8em;
}

.see_article {
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 25px;
    border: 1px solid #760001;
    background: url('images/fond_degraderouge.png') repeat-x;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

.see_article img {
   border: 0;
}

/* mise en place de la section */

section {
    display: flex;
    margin-bottom: 20px;
}

article, aside {
    text-align: justify;
}

article {
    margin-right: 20px;
    flex:3;
    margin-left: 20px;
}

aside {
    flex:1.2;
    background-color: #706b64;
    position: relative;
    font-size: 0.9em;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #1c1a19;
}

aside h1 {
    margin-bottom: 10px;
}

.fleche_bulle {
    position: absolute;
    left: -10px;
    top: 105px;
}

#image_zozor {
    margin-bottom: 0px;
    text-align: center;
}

#image_zozor img{
    border: 1px solid black;
}

article p {
    font-size: 0.8em;
}


#mes_reseaux {
    display: flex;
    justify-content: space-between;
}

/*footer */

footer {
    display: flex;
    background: url(images/ico_top.png) no-repeat top center, url(images/ombre/png) repeat-x, url(images/separateur.png) repeat-x;
    justify-content: space-between;
}

footer h1, footer p {
    font-size: 1.1em;
}




